<!doctype html>
<html lang="en">
<body>
<div class="container">
    <h3>OAuth2 Login Demo</h3>
    <div class="unauthenticated">
        <div>
            With GitHub: <a href="/oauth2/authorization/github">click here</a>
        </div>
        <div>
            With Google: <a href="/oauth2/authorization/google">click here</a>
        </div>
        <div>
            With Facebook: <a href="/oauth2/authorization/facebook">click
            here</a>
        </div>
    </div>
</div>
</body>
</html>
